/*footer*/
footer{
    background-color: #cdf195;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    border-top: 2px solid rgb(148, 12, 10);
    color: rgb(148, 12, 10);
}
footer h3{
    position: absolute;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footers{
    text-decoration: none;
    text-align: right;
}
.bi-facebook , .bi-twitter , .bi-instagram{
    color: rgb(148, 12, 10);
    margin: 0px 10px 0px;
}