*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*header*/

header{
    background-color: rgb(205, 241, 149);
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 2px solid rgb(148, 12, 10);
}

/*body*/
body{
    background-color: whitesmoke;
}


/*palabras*/
h1{
    font-family: "Lobster";
    text-align: center;
    font-size: 66px;
    padding: 10px;
}
h2{
    font-family: "Lobster";
    text-align: center;
    font-size: 26px;
}
h3{
    font-size: 25px;
    margin: 0px 20px 10px 10px;
    font-family: "roboto";
}
h4{
    position: absolute;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
font-size: 20px;
margin: 5px 30px 5px 30px;
}
